@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$transition: 1s ease;
/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}

.container {
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper, header {
  display: flex;
}

.sidebar {
  flex: 2 0 0;
}

.sidebar-left{
  background: lightblue;
}

.posts {
  flex: 6 0 0;
}

.posts {
  background: $color-light;
  padding: 40px;
}

/* Logo */
.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 90px;
  margin: 0;
  color: $color-dark;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.header{
  height: 30vh;
  background: grey;
}
/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li{
    font-size: 20px;
  }
  a{
    text-decoration: none;
  }
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}
/* intro */
.intro{
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1.8px;
}
/* Post */
.posts{
  position: relative;
}
.post{
  font-size: 0;
  position: absolute;
  top: 0;
  height: 0;
  opacity: 0;
  transition: $transition;
  &.active {
    font-size: 18px;
    background-color: $color-light;
    opacity: 1;
    position: relative;
    top: 0;
    height: 100%;
    background: $color-light;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

//search
.search-widget{
  border: 1px solid;
  display: flex;
  input{
    font-size: 20px;
    border: none;
    padding: 10px;
  }
  button{
    background: none;
    border: none;
    padding: 10px;
  }
}


.sidebar{
  padding: 50px 100px;
}

.widget-content{
  text-align: center;
  padding: 20px;
  img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}
.social-widget{
  i{
    font-size: 24px;
    height: 50px;
    width: 50px;
    background: $color-dark;
    color: $color-light;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
    transition: $transition;
    &:hover{
      transform: scale(1.2);
    }
  }
}

footer{
  height: 50px;
  padding: 15px 0;
  background: $color-dark;
  p{
    margin: 0 auto;
    color: $color-light;
    text-align: center;
  }
}

/*tags cloud*/

.tag-size-1{
  font-size: 12px;
  color: red;
}

.tag-size-2{
  font-size: 14px;
  color: blue;
}

.tag-size-3{
  font-size: 16px;
  color:purple;
}
.tag-size-4{
  font-size: 18px;
  color: tomato;
}
.tag-size-5{
  font-size: 20px;
  color: green;
  font-weight: bold;
}
